@mixin mobile {
  @media (max-width: 767.99px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991.99px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin large-device {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin reset-appearence() {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
