$color-body: #F2EEEB;
$color-font-black: #262626;
$color-font-white: #FFF;
$color-orange: #E8A87C;
$color-red: #E27D60;
$color-green: #41B3A3;
$color-blue: #85CAEF;
$color-purple: #C38DE9;
$box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%);
